In [2]:
import pandas as pd
df = pd.read_csv('Titanic_prepared_data.csv')
df.head()

,Unnamed: 0,Survived,Sex,Age,Fare,Embarked_0,Embarked_1,Embarked_2,Pclass_1,Pclass_2,Pclass_3,FamilySize
0,0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,3,1,0,35.0,53.1000,0,0,1,1,0,0,2
4,4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [3]:
x = df.iloc[:,2:].values
y = df.iloc[:,1:2].values

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=0)

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
lr = LogisticRegression()

In [8]:
lr.fit(x_train,y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [9]:
p = lr.predict(x_test)

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
print('accuracy is ' + str(accuracy_score(p,y_test)*100) + ' percent')

accuracy is 79.6610169492 percent

In [13]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(x_train,y_train.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [14]:
predict = clf.predict(x_test)

In [15]:
print(str(accuracy_score(predict,y_test)*100)+' Percent')

67.7966101695 Percent